section#stepContainer {
    width: calc(100% - 130px);
    height: 100%;
    overflow: hidden;
    position: absolute;
    animation: 500ms hideStepContainer 300ms ease-out forwards;
    -o-animation: 500ms hideStepContainer 300ms ease-out forwards;
    -webkit-animation: 500ms hideStepContainer 300ms ease-out forwards;
    z-index: 100;
    bottom: 0;
    left: 65px;
}

section#stepContainer.shown {
    animation: showStepContainer ease-out forwards;
    -o-animation: showStepContainer ease-out forwards;
    -webkit-animation: showStepContainer ease-out forwards;
}

@keyframes showStepContainer {
    0% {
        left: 100%;
    }
    100% {
        left: 65px;
    }
}

@keyframes hideStepContainer {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -100%;
    }
}

section#stepContainer section#simple-step-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

section#stepContainer.shown section#simple-step-container aside#stepChosen {
    animation: 300ms showChosenStep 500ms ease-out forwards;
    -o-animation: 300ms showChosenStep 500ms ease-out forwards;
    -webkit-animation: 300ms showChosenStep 500ms ease-out forwards;
    padding: 20px;
}

section#stepContainer section#simple-step-container aside#stepChosen {
    position: relative;
    left: 0;
    display: block;
    width: 500px;
    height: 100%;
    animation: 500ms hideChosenStep ease-out forwards;
    -o-animation: 500ms hideChosenStep ease-out forwards;
    -webkit-animation: 500ms hideChosenStep ease-out forwards;
    top: -100%;
    background: #006bb2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #006bb2 0%, #0056a2 25%, #00599f 75%, #344192 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #006bb2 0%,#0056a2 25%,#00599f 75%,#344192 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #006bb2 0%,#0056a2 25%,#00599f 75%,#344192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    mix-blend-mode: multiply;
}

aside#stepChosen #blocTextSimple {
    margin-top: 30px;
}

aside#stepChosen #blocTextSimple, aside#stepChosen #imgBlocSimple {
    width: 350px;
}

section#stepContainer section#simple-step-container aside#stepChosen h1 {
    color: white;
}

aside#stepChosen .text {
    border-left-color: white;
    color: white;
}

@keyframes showChosenStep {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes hideChosenStep {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

section#simple-step-container aside#stepChosen img {
    width: 350px;
}

section#stepContainer #contentArticles {
    position: relative;
    top: 0;
    width: calc(100% - 550px);
    overflow: auto;
    padding: 10px;
    animation: 500ms hideArticles ease-out forwards;
    -o-animation: 500ms hideArticles ease-out forwards;
    -webkit-animation: 500ms hideArticles ease-out forwards;
    right: -100%;
}


section#stepContainer.shown #contentArticles {
    animation: 300ms showArticles 500ms ease-out forwards;
    -o-animation: 300ms showArticles 500ms ease-out forwards;
    -webkit-animation: 300ms showArticles 500ms ease-out forwards;
}

@keyframes showArticles {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes hideArticles {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}


/* NAV */
#filter-nav {
    position: absolute;
    left: 450px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#filter-nav ul{
    padding: 0px;
    margin: 0px;
}

li.nav-content {
    display: block;
    width: 100px;
    height: 100px;
    background: #51B9A3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #51B9A3 0%, #3AAB9D 25%, #1CA2A2 75%, #0099A7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #51B9A3 0%,#3AAB9D 25%,#1CA2A2 75%,#0099A7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #51B9A3 0%,#3AAB9D 25%,#1CA2A2 75%,#0099A7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    font-family: "Antagometrica_Light", "Calibri", "Arial", sans-serif;
    position: relative;
}

li.nav-content span {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
}

li.nav-content:before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 33%;
    height: 33%;
    position: absolute;
    top: 25%;
    left: 34%;
}

li.nav-content#tout:before {
    background-image: url("../img/filtre-tout.svg");
}

li.nav-content#articles:before {
    background-image: url("../img/filtre-articles.svg");
}

li.nav-content#medias:before {
    background-image: url("../img/filtre-médias.svg");
}

li.nav-content#videos:before {
    background-image: url("../img/filtre-vidéos.svg");
}

li.nav-content#images:before {
    background-image: url("../img/filtre-images.svg");
}

li.nav-content#stages:before {
    background-image: url("../img/filtre-stages.svg");
}

li.nav-content#accueil:before {
    background-image: url("../img/btn-accueil.svg");
}

li.nav-content a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none !important;
}


/* MASONRY */
article.grid-item {
    box-shadow: 0 -10px 20px rgba(0,0,0,.1) inset;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: calc(33% - 20px);
    float: left;
    margin: 10px;
}

/* CONTENT SIMPLE */
section#stepContainer #contentSimpleArticle {
    position: absolute;
    top: 0;
    width: calc(100% - 550px);
    overflow: auto;
    padding: 10px;
    animation: 500ms hideArticles ease-out forwards;
    -o-animation: 500ms hideArticles ease-out forwards;
    -webkit-animation: 500ms hideArticles ease-out forwards;
    right: -100%;
}
