/* -----------------------------*/
/* STYLE HOME */
/* -----------------------------*/
/* Global */
#mainContainer #multiple-steps-container #title {
    height: 10%;
    margin: 0px;
}

#logo {
    width: 200px;
    padding: 20px;
}

section#mainContainer {
    width: calc(100% - 130px);
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 65px;
    animation: 300ms hideSlider ease-out forwards;
    -o-animation: 300ms hideSlider ease-out forwards;
    -webkit-animation: 300ms hideSlider ease-out forwards;
    z-index: 1;
    top: -100%;
}

section#mainContainer.shown {
    animation: 300ms showSlider 600ms ease-out forwards;
    -o-animation: 300ms showSlider 600ms ease-out forwards;
    -webkit-animation: 300ms showSlider 600ms ease-out forwards;
}

@keyframes showSlider {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes hideSlider {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

/* -----------------------------*/
/* SLIDER OF STEPS */
/* -----------------------------*/
/* containers and decoration */
section#slider-background {
    width: 500px;
    height: 90%;
    margin-left: 300px;
    position: fixed;
    background: #006bb2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #006bb2 0%, #0056a2 25%, #00599f 75%, #344192 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #006bb2 0%, #0056a2 25%, #00599f 75%, #344192 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #006bb2 0%, #0056a2 25%, #00599f 75%, #344192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    mix-blend-mode: multiply;
}

section#slider-line-left {
    width: 300px;
    height: 3px;
    position: absolute;
    top: 44.5%;
    background: #f9bf3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249, 191, 60, 0) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249, 191, 60, 0) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249, 191, 60, 0) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section#slider-line-right {
    width: calc(100% - 800px);
    height: 3px;
    position: absolute;
    top: 44.5%;
    right: 0;
    background: #f9bf3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249, 191, 60, 1) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249, 191, 60, 1) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249, 191, 60, 1) 0%, rgba(247, 175, 0, 1) 25%, rgba(247, 175, 0, 1) 75%, rgba(231, 152, 83, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#mainContainer #multiple-steps-container {
    width: 100%;
    height: 100%;
}

#mainContainer #multiple-steps-container #slider {
    width: 30000px;
    height: 90%;
    margin-left: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    position: relative;
}

/* slides containers */
.slide {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation-duration: 1000ms;
    -o-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    padding: 20px;
}

.slide .imgBloc {
    height: 40%;
    width: auto;
    opacity: 0;
    display: flex;
    align-items: flex-end;
}

.slide img {
    width: 350px;
}

.slide .blocText {
height: 50%;
}

.slide.current .blocText {
width: 350px;
}

.slide .blocLink {
    display: block;
    height: 31px;
    margin-top: -31px;
}

.slide.current .blocLink a {
    background: #f9bf3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f9bf3c 1%, #f7af00 25%, #f7af00 75%, #e79853 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f9bf3c 1%, #f7af00 25%, #f7af00 75%, #e79853 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f9bf3c 1%, #f7af00 25%, #f7af00 75%, #e79853 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* animation when a slider become current */
.slide.current {
    animation: 500ms currentSlide ease-out forwards;
    -o-animation: 500ms currentSlide ease-out forwards;
    -webkit-animation: 500ms currentSlide ease-out forwards;
    color: white;
}

/* animation when a slider leave current */
.slide.recently-current {
    animation: oldSlide 800ms ease-out forwards;
    -o-animation: oldSlide 800ms ease-out forwards;
    -webkit-animation: oldSlide 800ms ease-out forwards;
}

.slide .textStep {
    position: relative;
}

.slide .textStep h2 {
    float: right;
    font-size: 1.2em;
}

.slide.current .textStep h2 {
    animation: fadeInRight 400ms ease-out forwards;
    -o-animation: fadeInRight 400ms ease-out forwards;
    -webkit-animation: fadeInRight 400ms ease-out forwards;
    font-size: 2em;
    color: white;
    float: none;
}


.slide .text {
    border-left-color: white;
    opacity: 0;
}

.slide.current .text {
    animation: 300ms fadeInUp 400ms ease-out forwards;
    -o-animation: 300ms fadeInUp 400ms ease-out forwards;
    -webkit-animation: 300ms fadeInUp 400ms ease-out forwards;
}

.slide.current .imgBloc {
    animation: 1000ms currentSlideOpacity 300ms ease-out forwards;
    -o-animation: 1000ms currentSlideOpacity 300ms ease-out forwards;
    -webkit-animation: 1000ms currentSlideOpacity 300ms ease-out forwards;
}

.slide.recently-current .imgBloc {
    animation: 200ms oldSlideOpacity 500ms ease-out forwards;
    -o-animation: 200ms oldSlideOpacity 500ms ease-out forwards;
    -webkit-animation: 200ms oldSlideOpacity 500ms ease-out forwards;
}

/* slide animation */
@keyframes currentSlide {
    0% {
        width: 250px;
    }
    100% {
        width: 500px;
    }
}

@keyframes oldSlide {
    0% {
        width: 500px;
    }
    100% {
        width: 250px;
    }
}

/* slide text animation */
@keyframes currentSlideOpacity {
    100% {
        opacity: 1;
    }
}

@keyframes oldSlideOpacity {
    100% {
        opacity: 0;
    }
}

/* slide h2 font size */
@keyframes currentSlideFontSize {
    100% {
        font-size: 2em;
        color: white;
    }
}

@keyframes oldSlideOpacity {
    100% {
        font-size: 1.2em;
    }
}